body{
    background-color:#FF9CD6;
}
h1{
        front-family:arial;
        font-size: 45px;
        color:white;
}

#perrito{
        width:240px;
        height:220px;
        border-radius:50%;
        border: 5px solid #A63F3D